<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <!-- Here is the main header that is used accross all the pages of the website -->
    {%- include header.html -%}
    {%- include nav.html -%}
    <!-- Here is the page's main content -->
    <main>
      {{ content }}
      <!-- the aside content can also be nested within the main content -->
      {%- include aside.html -%}
    </main>
    <!-- Here is the main footer that is used across all the pages of the website -->
    {%- include footer.html -%}
  </body>
</html>